doctype
html
   head
      meta(chartset='utf-8')
      title= title
      style.
        body{
            background: seagreen;
            }
        input{
            display: flex;
        }
   body
   hr
   #wrapper
    a(href="/")='Go Back'
    <br>
    a(href="/searchPage")='Search Page'
    form(action="/editcar", method='POST')
        h3='Manufacterer : '
            input(type="text", value= manufacter, name='manufacter')
        h3='Model : '
            input(type="text", value= model, name='model')
        h3='Vin Code : '
            input(type="text", value= vin, name='vin', required)
        h3='State Number : '
            input(type="text", value= number, name='number', required)
        h3='Color : '
            input(type='text', value= color, name='color')
        h3= 'Owner Name'
            input(type="text" value= owner, name='owner')
        h3= 'Owner SUrname'
            input(type="text" value= ownerSurname, name='ownerSurname')
        button(type='submit')='Edit Car' 